.footer {
    max-width: 100%;
    background-color: #000000;
    margin-top: 120px;
    height: 164px;
}

.footer--inner {
    display: flex;
    flex-direction: column;
}

.footer--navigation {
    position: relative;
    left: calc(50% - 185px);
    padding-top: 35px;
}

.footer--description {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-top: 27.8px;
}